# Root .gitignore

# node modules
/server/node_modules
/client/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# build outputs
/client/build

# OS files
.DS_Store

# other
coverage
# large files / videos
/Video Demo
*.mp4